<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Todo list</title>
</head>
<body>
    <div class="container">
        <h1>Todo list</h1>
        <form action="/" method="POST" autocomplete="off">
            <input type="text" placeholder="Add Works..." name="Todo" required>
            <button type="submit">Add</button>
        </form>
    </div>
        <% if(data){ %>
            <% data.forEach(Todo=>{ %>
                <div class="todo-container">
                    <div class="todo-value">
                        <%= Todo.todo %>
                    </div>
                    <div>
                        <button class="todo-delete <%= Todo.id %>"><u>Remove</u></a>
                    </div>
                </div>
            <% }) %>
        <% } %>
                
        <script>
            const del=document.querySelectorAll(".todo-delete");
            del.forEach((button,i)=>{
                button.addEventListener("click",()=>{
                    const endpoint=`/${button.classList[1]}`
                    fetch(endpoint,{
                        method:"DELETE"
                    })
                    window.location.href="/"
                })
            })
        </script>
</body>
</html>